<h1>Edit device: <%= @device.name %></h1>
<%= form_for @device, url: {action: "update"}, method: 'PUT' do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= submit_tag("Update") %>
<% end %>
<hr />
<h2>Existing Devices</h2>
<% unless @devices.blank? %>
	<ol>
		<% @devices.each do |d| %>
			<li>
				<%= link_to d, data: {'device-id': d.id} do %>
					<%= d.name %> <em>(<%= d.browser_windows.count %>)</em>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>