<h1>Edit Window: <%= @browser_window.id %> <span>(on <%= @browser_window.device.name %>)</span></h1>
<%= form_for @browser_window, url: {action: "update"}, method: 'PUT' do |f| %>
	<%= f.label :private %>
	<%= f.check_box :private %>
	<%= submit_tag("Update") %>
<% end %>
<hr />
<h2>Existing Windows</h2>
<% unless @browser_windows.blank? %>
	<ol>
		<% @browser_windows.sort.each do |d| %>
			<li>
				<%= link_to device_browser_window_path(d.device_id, d), data: {'browser-window-id': d.id} do %>
					<em>(<%= d.browser_tabs.count %>)</em>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>