<h1>Add new browser_window</h1>
<%= form_for @browser_window, url: {action: "create"} do |f| %>
	<%= f.check_box :private %>
	<%= submit_tag("Create") %>
<% end %>
<hr />
<h2>browser_window List</h2>
<% unless @browser_windows.blank? %>
	<ol>
		<% @browser_windows.each do |d| %>
			<li>
				<span>private?</span><%= check_box_tag(:private) %>
				<%= link_to device_browser_window_path(d.device_id, d) do %>
					<span>id: </span><em>(<%= d.id %>)</em>
					<% unless d.browser_tabs.blank? %>
						<ol>
							<% d.browser_tabs.each do |tab| %>
								<li><span>(<%= tab.id %>)</span><span><%= tab.title %></span></li>
							<% end %>
						</ul>
					<% end %>
				<% end %>
			</li>
		<% end %>
	</ol>
<% end %>