<h1>Window: <%= @browser_window.id %> <span>(on <%= @browser_window.device.name %>)</span></h1>
<span>private?</span><%= check_box_tag(:private) %>
<%= link_to '[Edit]', edit_device_browser_window_path(:device_id => params[:device_id], :id => @browser_window.id) %>
<hr />
<h2><%= @browser_window.id %> Details:</h2>

<% tabs = @browser_window.browser_tabs %>
<% unless tabs.blank? %>
	<ol>
		<% tabs.sort.each do |tab| %>
			<li><span>(<%= tab.id %>)</span><span><%= tab.title %></span></li>
		<% end %>
	</ul>
<% end %>