<!DOCTYPE html>
<html>
<head>
  <title>PersonalBrain</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
	<ul>
		<li><%= link_to 'home', root_path %></li>
		<li><%= link_to 'devices', devices_path %></li>
	</ul>
</nav>
<article>
	<%= yield %>
</article>

</body>
</html>
